:root {
  --main-color: #e57a8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
}
